*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width : 50%;
    margin: 32px auto;
    padding: 8px;
    border:2px solid black;
    border-radius: 8px;
   
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin-top: 4px;
    border:1px solid red;
    border-radius: 5px;
   
}

.info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




